.row {
    /* 1 priority score, not enough to override Bootstrap jumbotron definition */
    margin: auto!important;
}

#form {
    padding: 3%;
    margin-top: auto;
    margin-bottom: auto;
}

.unConnected {
    text-align: center;
}

.btn.btn-primary {
    width: 48%;
}

.btn.btn-secondary {
    width: 48%;
}

/* #profil {
    display: none;
} */

#infoNoLogin {
    text-align: center;
}


#buttonDisplay {
    width: 100%;
}

#account {
    height: 30px;
}