body{
    margin: 0;
    font-family: "Titillium Web";
}

#map{
    height:710px;
    margin : 5px;
}

#map-connected{
    height:710px;
    margin : 5px;
    justify-content: center;
}

#img-logo{
    height:30px;
}

.nav-item{
    justify-content:end!important;
}

.container{
    max-width:none!important;
}

#explainText{
    margin-top: 19%;
    margin-bottom: 13%;
}

.text-center{
    padding-right:10px;
    padding-left:10px;
}