<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
        
        {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href='https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/nasa-logo.svg'>        
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img id="img-logo" style= "height:30px;"src="http://severtsonscreens.com/wp-content/themes/bones/images/logo-nasa-white.png"></img>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-row-reverse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/profil">Profil</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
